/* ----- Reset and Common Styles ----- */
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

section {
  padding: 10rem 0;
  background-color: #f0f4f4;
}

/* ----- End of Reset and Common Styles ----- */

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/* ----- Header ----- */
header {
  background-color: #f0f4f4;
  padding: 2rem 0;
}

header .container {
  margin: 0;
  padding: 0;
}

header img {
  width: 60%;
  max-width: 50rem;
  margin-bottom: 2rem;
}

nav {
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 35rem;
  padding: 0;
  /* margin: 1rem;  */
}

nav ul li {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .8rem;
  width: 14rem;
  height: 5rem;
  padding-left: .5rem;
  margin: .5rem;
  background-color: #454c5a;
  border-radius: 1rem;
  /* border: none; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#filter {
  background-color: #7bba51;
}

#next {
  background-color: #f5995c;
}
/* ----- End of Header ----- */


/* ----- Images Section ----- */ 
.images-container {
  width: 100%;
}

/* .images-list {

} */

.image {
  width: 40%;
  height: 20rem;
  border: 1px solid #dd4559;
  border-radius: 1rem;
  margin: 1rem;
  object-fit: contain;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
/* ----- End of Images Section ----- */


/* ----- Footer ----- */
footer {
  background-color: #32a0da;
  padding: 15px 0;
}

footer p {
  font-size: 1.2em;
  color: #ffffff;
}
/* ----- End of Footer ----- */

/* ----- End of Mobile Styles ----- */

/* ==========================================================================
  Media Queries for Responsive Design
  ========================================================================== */
  
  /**** TABLET STYLES ****/
@media screen and (min-width: 768px) {

  header .container {
    justify-content: space-between;
  }

  header img {
    width: 50%;
    padding: 0;
  }

  nav {
    width: 45%;
  }

  nav ul {
    width: 40rem;
  }

  nav ul li {
    font-size: 1.8rem;
    width: 16rem;
    height: 6rem;
    margin: 0 2rem;
  }

  footer {
    background-color: #32a0da;
    padding: 20px 0;
  }

  footer p{
    font-size: 1.5em;
    color: #ffffff;
  }
}

  /**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

  
}