# Whether we are using a production or development environment
NODE_ENV=development

# Google API key for Google Photos API
# Get your API key at https://console.cloud.google.com/apis/credentials
GOOGLE_API_KEY=

# Google Client ID for Google Sign-in authentication
# Get your Google Client ID at https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=

# Google Client Secret for Google Sign-in authentication
# Get your Google Client Secret at https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET=

# Redirect URL for Google authentication flow
# This must match the redirect URL you set in the Google Developer Console
REDIRECT_URL=

# Session secret for Express session
# Generate a random string for this
SESSION_SECRET=

# MongoDB URI
# Get your MongoDB URI at https://cloud.mongodb.com
MONGO_URI=