Thumbs.db

# Ignore Mac system files
.DS_Store

# Ignore folders 
/node_modules
# /dist

# Ignore files with private information
.env
*.txt
*.doc
*.docx
*.p8

# Ignore SASS config files
.sass-cache

# Test files
/test-pages
test.js
