Thumbs.db

# Ignore Mac system files
.DS_Store

# Ignore node_modules folder
/node_modules

# Ignore all text and doc files
*.txt
*.doc
*.docx

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# # Ignore Dist folder
# /dist