:root {
  --primary-color: #e24844;
  --second-color: #f5f5f5;
  --third-color: #4B5358; 
  --border-color: #cacaca;
  --black: #000000;
  --white: #ffffff;
}

.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: var(--black);
  font-size: 2rem;
  background-color: var(--white);
}

.btn {
  width: 6rem;
  aspect-ratio: 1/1;
  margin: 1rem 1.75rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;  
  color: var(--primary-color);
  background-color: var(--white);
  border: .3rem solid var(--border-color);
  border-radius: .4rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:active {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.wide-btn {
  width: 24rem;
  height: 4rem;
  font-size: 1.3rem;
  letter-spacing: 0.6rem;
  margin: 1rem 0;
}
