/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/* Base styles */
:root {
  --primary-color: #e24844;
  --second-color: #f5f5f5;
  --third-color: #4B5358; 
  --border-color: #cacaca;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: var(--black);
  font-size: 2rem;
  background-color: var(--white);
}

/* Buttons */
.btn {
  width: 6rem;
  aspect-ratio: 1/1;
  margin: 1rem 1.75rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;  
  color: var(--primary-color);
  background-color: var(--white);
  border: .3rem solid var(--border-color);
  border-radius: .4rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:active {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.wide-btn {
  width: 24rem;
  height: 4rem;
  font-size: 1.3rem;
  letter-spacing: 0.6rem;
  margin: 1rem 0;
}

.input-field {
  width: 21.5rem;
  height: 3rem;
  font-size: 2rem;
  margin: 1rem 0;
  padding: .2rem 1rem;
}

.password-wrapper {
  position: relative;
}

input[type=password] {
  width: 21.5rem;
  padding-right: 4rem; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 1.5rem;
  background: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

#g_id_onload,
#google-signin {
  margin: 6rem 0;
}

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
}

.modal-content h2, h3, i, p {
  /* margin: 0 3rem; */
}

.modal-content {
  width: 80%;
  padding: 3rem;
  text-align: center;
  border: .5rem solid var(--third-color);
  background-color: var(--white);
  color: var(--third-color);
  flex-direction: column;
}

.modal-content h2, h3 {
  font-size: 2.5rem;
}

.modal-content i {
  margin: 2rem 0;
  font-size: 5rem;
  color: var(--third-color);
}

.modal-content p {
  font-size: 2.3rem;
}

.modal-content h3 {
  margin-top: 2rem;
}

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {
  
  .square-btn {
    width: 8rem;
    margin: 1rem 1.75rem;
    font-size: 4rem;
  }
  
  .modal-content h2, h3 {
    font-size: 3.5rem;
  }
  
  .modal-content i  {
    margin: 4rem 0;
    font-size: 6rem;
  }
  
  .modal-content p {
    font-size: 3rem;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {
  
}
