/* ==========================================================================
  Mobile Styles
  ========================================================================== */

#dash-page {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

#dash-content-wrapper {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

/* Nav Panel */
#dash-panel {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--second-color);
}

#dash-nav {
  width: 100%;
}

#dash-nav h1 {
  width: 100%;
  padding: 3rem 4rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--primary-color);
}

#dash-nav-list {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-tab {
  width: 100%;
}

.nav-tab a {
  width: 100%;
  padding: 3rem 4rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  justify-content: flex-start;
}

.nav-tab a:hover,
.nav-tab a:active {
  color: var(--white);
  background-color: var(--third-color);
}

#logout-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-bottom: 4rem; 
}

#logout-btn {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);
}

#logout-btn:hover,
#logout-btn:active {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--black);
}

/* Section styles */
main {
  height: 100vh;
  flex-grow: 1;
}

#welcome {
  width: 100%;
  margin: -5rem 0 0 0;
}

#welcome h3 {
  font-size: 3.5rem;
}

figure {
  width: 100%;
}

figure .logo img {
  max-width: 40rem;
  margin-bottom: 5rem;
}


#g_id_onload,
#google-signin {
  margin: 6rem 0;
}

/* Modal Styles */
.modal {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1; */
}

.modal-content {
  /* width: 80%;
  padding: 2rem 0;
  text-align: center;
  border: .5rem solid var(--third-color);
  background-color: var(--white);
  color: var(--third-color);
  flex-direction: column; */
}

.modal-content h2 {
  /* font-size: 2.5rem; */
}

.modal-content i {
  /* margin: 2rem 0;
  font-size: 5rem;
  color: var(--third-color); */
}

.modal-content p {
  /* font-size: 2.3rem; */
}
/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {
  
  #dash-panel {
    left: 0;
    width: 30rem;
  }
  
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {
  
  
}
