/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/* Base styles */
#dash-content-wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

main {
  margin: 5rem;
}

/* Base table */
table th,
table td {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}

table td {
  font-weight: 400;
}

table #empty-row {
  height: 2rem;
}

.table-icon {
  font-size: 2.3rem;
  margin: 1rem;
  color: var(--third-color);
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

.table-icon:hover,
.table-icon.clicked {
  color: var(--primary-color);
}

/* Dash-panel NAV */
#dash-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--second-color);
  transform: translateX(-100%); 
  transition: transform 0.8s; 
  z-index: 3;
}

#dash-panel.open {
  transform: translateX(0);
}

#dash-nav {
  width: 100%;
}

figure {
  width: 100%;
}

figure img {
  max-width: 20rem;
  margin: 4rem 0;
}

#dash-nav-list {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-tab {
  width: 100%;
}

.nav-tab a {
  width: 100%;
  padding: 3rem 4rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  justify-content: flex-start;
}

.nav-tab a:hover {
  color: var(--white);
  background-color: var(--border-color);
}

.nav-tab a.clicked {
  color: var(--white);
  background-color: var(--primary-color);
}

#logout-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-bottom: 4rem; 
}

#logout-btn {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);
}

#logout-btn:hover,
#logout-btn:active {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--black);
}

/* Menu button styles */
#nav-open-btn {
  position: fixed;
  top: 2rem;
  left: 0;
}

/* USERS & CLIENTS sections */

/* Table layout styles */
#users,
#clients {
    width: 100%;
}

#users-header,
#users-table,
#clients-header,
#clients-table {
  width: 95%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border-collapse: collapse;
} 

#users-header,
#clients-header {
  margin-bottom: 4rem;
}

#users-labels,
#clients-labels {
  color: var(--white);
  background-color: var(--third-color);
  border: 0.3rem solid var(--third-color);
}

#users-labels th:nth-child(4),
#clients-labels th:nth-child(4) {
  text-align: center;
}

#users-create td,
#clients-create td {
  border: 0.3rem solid var(--border-color);
}

#users-table-wrapper,
#clients-table-wrapper {
  max-height: 70rem;
  overflow-y: auto;
}

/** User Table Width **/
/* Total width of all columns must equal 100% */
/* Width of Name column */
#users-header th:nth-child(1),
#users-header td:nth-child(1),
#users-table td:nth-child(1) {
  width: 23%;
}

/* Width of Username column */
#users-header th:nth-child(2),
#users-header td:nth-child(2),
#users-table td:nth-child(2) {
  width: 23%;
}

/* Width of Password column */
#users-header th:nth-child(3),
#users-header td:nth-child(3),
#users-table td:nth-child(3) {
  width: 23%;
}

/* Width of Role column */
#users-header th:nth-child(4),
#users-header td:nth-child(4),
#users-table td:nth-child(4) {
  width: 17%;
}

/* Width of Action column */
#users-header th:nth-child(5),
#users-header td:nth-child(5),
#users-table td:nth-child(5) {
  width: 13%;
  text-align: center;
}

/** Client Table Width **/
/* Total width of all columns must equal 100% */
/* Width of Client Name column */
#clients-header th:nth-child(1),
#clients-header td:nth-child(1),
#clients-table td:nth-child(1) {
  width: 35%;
}

/* Width of Therapist/Tech column */
#clients-header th:nth-child(2),
#clients-header td:nth-child(2),
#clients-table td:nth-child(2) {
  width: 32%;
}

/* Width of Client ID column */
#clients-header th:nth-child(3),
#clients-header td:nth-child(3),
#clients-table td:nth-child(3) {
  width: 20%;
}

/* Width of Action column */
#clients-header th:nth-child(4),
#clients-header td:nth-child(4),
#clients-table td:nth-child(4) {
  width: 13%;
  text-align: center;
}

/* Create User/Client row styles */
#new-user-name,
#new-user-username,
#new-user-password,
#new-client-name,
#new-client-tech-name,
#new-client-id {
  width: 95%;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  border: none;
  padding: 1rem;
}

#new-user-password[type=password] {
  padding-right: 0;
}

#new-user-role {
  width: 90%;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-style: italic;
}

#create-user-btn i,
#create-client-btn i {
  font-size: 2.7rem;
}

#create-user-btn:hover,
#create-user-btn:active,
#create-client-btn:hover,
#create-client-btn:active {
  color: var(--primary-color);
}

/* ADMIN section */
#admin {
  width: 100%;
}

#admin-data-wrapper,
#google-connect-wrapper {
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  background: var(--white);
  border: 0.3rem solid var(--border-color);
  text-align: center;
  justify-content: space-between;
}

#data-section-container {
  width: 100%;
  gap: 2rem; 
  align-items: flex-start;
}

.data-wrapper {
  width: 100%;
  padding: 2rem 0;
  background: var(--second-color);
  border: 0.2rem solid var(--border-color);
  border-radius: 0.4rem;
}

h2 {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 2.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

#tag-data-wrapper,
#app-data-wrapper {
  padding: 2rem;
  background: var(--second-color);
  border: 0.3rem solid var(--border-color);
  border-radius: 0.4rem;
}

#tag-data-wrapper {
  flex: 2;
}

#app-data-wrapper {
  flex: 1;
}

#tag-data-table-container {
  width: 100%;
  flex-direction: column;
}

#active-tags-table-wrapper,
#inactive-tags-table-wrapper {
  width: 100%;
}

#active-tags-table,
#inactive-tags-table {
  width: 100%;
  flex-direction: column;
}

#active-tags-table-body,
#inactive-tags-table-body {
  max-height: 30rem;
  overflow-y: auto;
  padding-right: 1rem;
}

table th {
  padding: 0 0 1rem 0;
  text-align: center;
}

table th h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

table td {
  padding: 0.25rem;
  font-size: 2rem;
}

/* Tag Data column 1 */
#active-tags-table td:nth-child(1),
#inactive-tags-table td:nth-child(1) {
  width: 20rem;
}

/* App Data column 1 */
#app-data-table td:nth-child(1) {
  width: 100%;
}

/* Tag Data & App Data column 2 */
#active-tags-table td:nth-child(2),
#inactive-tags-table td:nth-child(2),
#app-data-table td:nth-child(2) {
  width: 100%;
  text-align: right;
}

#refresh-btn {
  margin: auto;
}

#google-connect-wrapper {
  margin-top: 4rem;
  justify-content: center;
}

#connected-wrapper {
  width: 90%;
  flex-direction: row;
  margin: auto;
}

#connected-wrapper i {
  font-size: 3rem;
  color: var(--primary-color);
  margin-left: 2rem;
}

/* ACCOUNT section */
#account {
  width: 100%;
  flex-direction: column;
}

#account-table {
  margin-bottom: 5rem;
  padding: 0;
}

.form-wrapper {
  padding: 2rem 4rem;
  border: 0.5rem solid var(--border-color);
}

#account h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#update-password-form,
.form-wrapper {
  flex-direction: column;
}

.toggle-password {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {
  
  /* Dash-panel NAV */
  #dash-panel {
    width: 30rem;
    transform: translateX(0); 
  }
  
  #nav-open-btn {
    display: none;
  }
  
  main {
    margin: 5rem 5rem 5rem 35rem;
  }
  
  #tag-data-table-container {
    flex-direction: row;
  }
  
  .data-wrapper {
    width: 48%;
  }
  
  #admin-data-wrapper,
  #google-connect-wrapper {
    /* justify-content: space-between;
    align-items: flex-start; */
  }
  
  #active-tags-table-wrapper,
  #inactive-tags-table-wrapper {
    width: 50%;
  }
  
  #active-tags-table-body,
  #inactive-tags-table-body {
    max-height: 50rem;
  }
  
  #app-data-table tr,
  #app-data-table td {
    padding: 0.75rem 0;
  }
  
  #connected-wrapper {
    width: 60%;
    margin: auto 2rem;
  }
  
  #connected-wrapper h2 {
    margin: 0;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1000px) {
  
  #connected-wrapper {
    width: 40%;
  }
}
