/* ==========================================================================
  Mobile Styles
  ========================================================================== */

#dash-page {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

#dash-content-wrapper {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

/* Nav Panel */
#dash-panel {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--second-color);
  /* border-right: .3rem solid var(--border-color); */
}

figure {
  width: 100%;
}

figure .logo {
  width: 100%;
  margin: 2rem 0;
}

figure .logo img {
  width: 60%;
}

#dash-nav {
  width: 100%;
}

#dash-nav-list {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-tab {
  width: 100%;
}

.nav-tab a {
  width: 100%;
  padding: 3rem 4rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  justify-content: flex-start;
}


.nav-tab a:hover {
  color: var(--white);
  background-color: var(--border-color);
}

.nav-tab a.clicked {
  color: var(--white);
  background-color: var(--primary-color);
}

#logout-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-bottom: 4rem; 
}

#logout-btn {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);
}

#logout-btn:hover,
#logout-btn:active {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--black);
}

/* Section styles */
main {
  height: 100vh;
  flex-grow: 1;
}
/* 
table {
  width: 100%;
  margin: 0;
} */

table th {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  color: var(--black);
  background-color: var(--white);
}

table td {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  color: var(--black);
  background-color: var(--white);
}

table td a {
  color: var(--black);
}

table td a:hover {
  color: var(--third-color);
}

form {
  width: 100%;
  margin: 0;
}

form label {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  color: var(--black);
  background-color: var(--white);
}

form input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  color: var(--black);
  background-color: var(--white);
}
/* 
form input[type="submit"] {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  background-color: var(--third-color);
  border: none;
} */
/* 
form input[type="submit"]:hover,
form input[type="submit"]:active {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
} */

/* Account */
#account-wrapper {
  width: 100%;
  flex-direction: column;
}

#account-info {
  width: 100%;
  margin: 8rem 0 5rem 0;
  padding: 0;
}

.form-wrapper {
  padding: 2rem 4rem;
  border: .5rem solid var(--border-color);
}

h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#update-password-form,
.form-wrapper {
  flex-direction: column;
}

/* Users */


/* Clients */


/* Google */


/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {
  
  #dash-panel {
    left: 0;
    width: 30rem;
  }

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {
  
  
}
