/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/* Base Styles */

#dash-page {
  width: 100%;
  height: 100%;
}

#dash-content-wrapper {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

main {
  height: 100vh;
  flex-grow: 1;
}

/* Table Base */
table th,
table td {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}

table td {
  font-weight: 400;
}

table #empty-row {
  height: 2rem;
}

/* Nav panel */
#dash-panel {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--second-color);
}

figure {
  width: 100%;
}

figure .logo {
  width: 100%;
  margin: 2rem 0;
}

figure .logo img {
  width: 60%;
}

#dash-nav {
  width: 100%;
}

#dash-nav-list {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-tab {
  width: 100%;
}

.nav-tab a {
  width: 100%;
  padding: 3rem 4rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  justify-content: flex-start;
}

.nav-tab a:hover {
  color: var(--white);
  background-color: var(--border-color);
}

.nav-tab a.clicked {
  color: var(--white);
  background-color: var(--primary-color);
}

#logout-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-bottom: 4rem; 
}

#logout-btn {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--black);
}

#logout-btn:hover,
#logout-btn:active {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--black);
}

/* Account Section */
#account-wrapper {
  width: 100%;
  flex-direction: column;
}

#account-table {
  margin-bottom: 5rem;
  padding: 0;
}

.form-wrapper {
  padding: 2rem 4rem;
  border: .5rem solid var(--border-color);
}

#account h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#update-password-form,
.form-wrapper {
  flex-direction: column;
}

.toggle-password {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

/* Users & Clients Sections */
#users-table,
#clients-table {
  width: 80%;
  margin: 5rem;
  padding: 0;
  table-layout: fixed;
  border-collapse: collapse;
} 

#users-table-head,
#clients-table-head {
  color: var(--white);
  background-color: var(--third-color);
  border: .3rem solid var(--third-color);
}

#users-table-body tr:first-child td,
#clients-table-body tr:first-child td {
  border: .3rem solid var(--third-color);
}

#users-table-body td,
#clients-table-body td {
  border: .3rem solid var(--border-color);
}

/** Total width of all columns must equal 100% **/
/* Width of Name column */
#users-table th:nth-child(1),
#users-table td:nth-child(1) {
  width: 23%;
}

/* Width of Username column */
#users-table th:nth-child(2),
#users-table td:nth-child(2) {
  width: 23%;
}
/* Width of Password column */
#users-table th:nth-child(3),
#users-table td:nth-child(3) {
  width: 23%;
}

/* Width of Role column */
#users-table th:nth-child(4),
#users-table td:nth-child(4) {
  width: 17%;
}

/* Width of Action column */
#users-table th:nth-child(5),
#users-table td:nth-child(5) {
  width: 13%;
  text-align: center;
}

.table-icon {
  margin: 1rem;
  cursor: pointer;
  color: var(--third-color);
}

.table-icon:hover,
.table-icon.clicked {
  color: var(--primary-color);
}

/* New User Form Styles */
#new-user-name,
#new-user-username,
#new-user-password {
  width: 95%;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  border: none;
  padding: 1rem;
}

#new-user-password[type=password] {
  padding-right: 0;
}

#new-user-role {
  width: 90%;
  font-size: 2rem;
  padding: 1rem .25rem;
  border: none;
  font-style: italic;
}


#create-user-icon {
  font-size: 3rem;
  color: var(--third-color);
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

#create-user-btn:hover,
#create-user-btn:active {
  color: var(--primary-color);
  /* background-color: var(--second-color); */
}

/* .password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.action-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.action-icon:hover {
  color: var(--third-color);
} */

/* Clients */


/* Google */


/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {
  
  #dash-panel {
    left: 0;
    width: 30rem;
  }

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {
  
  
}
