/**** BASE & COMMON STYLES ****/
:root {
  --primary-color: #32a0da;
  --second-color: #f5995c;
  --third-color: #7bba51;
  --fourth-color: #dd4559;
  --bg-primary: #f4f4f4;
}

.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 2rem;
  background-color: var(--bg-primary);
  padding: 0;
  margin: 0;
}

#landing-page,
#flashcards-page,
.content-wrapper {
  min-height: 100vh;
  width: 100%;
}

/**** END OF BASE & COMMON STYLES ****/

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/**** LANDING-PAGE ****/
#landing-page .content-wrapper {
  flex-direction: column;
  justify-content: space-between;
}

figure {
  width: 100%;
  margin-top: 5rem;
  padding: 0;
  background-color: var(--bg-primary);
}

figure .logo {
  width: 100%;
  justify-content: center;
}

figure .logo img {
  width: 100%;
  max-width: 25rem;
  margin: 0 3rem;
}

.welcome-text {
  width: 100%;
}

.welcome-text h1 {
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
  margin: 5rem 0;
  padding: 0;
}

.welcome-text p {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

#g_id_onload,
#google-signin {
  margin: 6rem 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--second-color);
  padding: 1rem 0;
}

footer p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

/**** FLASHCARDS-PAGE ****/
#flash-content-wrapper {
  flex-direction: column;
  margin-left: 0;
  transition: margin-left .5s;
}

main {  
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column !important;
}

/* Side-panel styles */
#side-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 2rem;
  align-items: flex-start;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transform: translateX(-100%); 
  transition: transform 0.6s; 
  z-index: 4;
}

#side-panel.open {
  transform: translateX(0);
}

#object-selection-form {
  width: 100%;
  max-width: 40rem;
  flex-direction: column;
  margin: 2rem;
  background-color: var(--primary-color);
}

#submit-btn {
  width: 20rem;
  height: 5rem;
  margin: 2rem;
  padding-left: 1rem;
  background-color: var(--second-color);
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8rem;
  border: .25rem solid #ffffff;
  border-radius: .5rem;
  box-shadow: 0 .25rem #cccccc;
  cursor: pointer;
}

#submit-btn i {
  margin: 0;
  padding: .1rem 0 0 .5rem;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: #ffffff;
  outline: 4rem auto var(--second-color);
  color: var(--second-color);
  transition: all 0.15s ease-in-out;
}

#submit-btn:active {
  box-shadow: 0 0.25rem #ffffff;
  transform: translateY(0.2rem);
  transition: all 0.1s linear;
}

#object-list {
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.object-item {
  font-size: 2.25rem;
  width: 80%;
  margin: 0;
  padding: .75rem 0;
  justify-content: space-between;
}

.name {
  padding: 0.5rem 0;
  justify-content: flex-start;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
}

.qty {
  width: 3rem;
  border: 0.1rem solid #e2e7e7;
  background-color: #ffffff;
  height: 100%;
  font-size: 2.5rem;
  padding: 0.25rem;
  font-style: italic;
  text-align: center;
}

.qty[type="number"] {
  font-size: 2.5rem;
}

.qty::placeholder {
  font-size: 2.5rem;
}

.qty::-webkit-outer-spin-button,
.qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty::-moz-number-spin-box {
  -moz-appearance: none;
  margin: 0;
}

#btn-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.btn {
  font-size: 3.5rem;
  color: #ffffff;
  margin: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  border: .25rem solid transparent;
  width: 6rem;
  aspect-ratio: 1/1;
}

#open-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: var(--second-color);
}

#open-btn:hover {
  background-color: #ffffff;
  color: var(--second-color);
  border-color: var(--second-color);
}

#open-btn.clicked {
  background-color: var(--second-color);
  color: #ffffff;
}

#refresh-btn {
  position: fixed;
  top: 9rem;
  left: 1rem;
  background-color: var(--third-color);
}

#refresh-btn:hover {
  background-color: #ffffff;
  color: var(--third-color);
  border-color: var(--third-color);
}

#refresh-btn.clicked {
  background-color: var(--third-color);
  color: #ffffff;
}

#refresh-btn.clicked:hover {
  background-color: #ffffff;
  color: var(--third-color);
  border-color: var(--third-color);
}

.images-wrapper {
  padding: 2rem;
}

.images-container {
  width: 100%;
  padding: 2rem;
  margin: 0;
  justify-content: space-around;
  gap: 1rem;
}

.image {
  width: 25rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid var(--third-color);
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem;
  object-fit: cover;
}

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {

  /**** Landing-Page ****/
  figure .logo img {
    max-width: 40rem;
  }

  .welcome-text h1,
  .welcome-text p {
    text-align: center;
  }

  .welcome-text br {
    display: none;
  }

  footer {
    padding: 1.5rem 0;
  }

  footer p{
    font-size: 2rem;
  }

  /**** Flashcards-Page ****/
  main {  
    justify-content: space-between !important;
    align-items: flex-start !important;
    flex-flow: row nowrap !important;
  }
  
  #side-panel {
    left: 0;
    width: 40%;
    max-width: 40rem;
  }

  #object-selection-form {
    margin: 0;
    min-width: 25rem;
  }

  .images-wrapper {
    min-width: 65%;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

    /**** Flashcards-Page ****/
  .image {
    min-width: 25rem;
  }
}