/**** BASE & COMMON STYLES ****/
:root {
  --primary-color: #32a0da;
  --second-color: #f5995c;
  --third-color: #7bba51;
  --fourth-color: #dd4559;
  --bg-primary: #f4f4f4;
  --text-default: #000000;
  --text-alt: #f4f4f4;
  --bg-second:#E8E8E8;
  --sidepanel: #333333;
}

.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: var(--text-default);
  font-size: 2rem;
  background-color: var(--bg-primary);
  padding: 0;
  margin: 0;
}

#landing-page,
#flashcards-page,
.content-wrapper {
  min-height: 100vh;
  width: 100%;
}

figure {
  width: 100%;
  margin-top: 5rem;
  padding: 0;
  background-color: var(--bg-primary);
}

figure .logo {
  width: 100%;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-second);
  padding: 1rem 0;
}

footer p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

/**** END OF BASE & COMMON STYLES ****/

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/**** LANDING-PAGE ****/
#landing-page .content-wrapper {
  flex-direction: column;
  justify-content: space-between;
}

#landing-page figure .logo img {
  width: 100%;
  max-width: 25rem;
  margin: 0 3rem;
}

.welcome-text {
  width: 100%;
}

.welcome-text h1 {
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
  margin: 5rem 0;
  padding: 0;
}

.welcome-text p {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

#g_id_onload,
#google-signin {
  margin: 6rem 0;
}

/**** FLASHCARDS-PAGE ****/
#flash-content-wrapper {
  flex-direction: column;
  margin-left: 0;
  transition: margin-left .5s;
}

main {  
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column !important;
}

main figure {
  margin: 3rem 0;
  background-color: var(--bg-second);
}

/* Side-panel styles */
#side-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  padding-top: 2rem;
  align-items: flex-start;
  background-color: var(--sidepanel);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
}

#side-panel.open {
  width: 100%; /* or use a percentage */
}

#object-selection-form {
  width: 100%;
  max-width: 40rem;
  flex-direction: column;
  margin: 2rem;
  background-color: var(--sidepanel);
}

#submit-btn {
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  padding-left: 1rem;
  background-color: var(--bg-primary);
  color: var(--text-default);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8rem;
  border: .25rem solid var(--bg-second);
  border-radius: .5rem;
  box-shadow: 0 .25rem #444;
  cursor: pointer;
}

#submit-btn i {
  margin: 0;
  padding: .1rem 0 0 .5rem;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: var(--bg-second);
  outline: 4rem auto var(--bg-primary);
}

#submit-btn:active {
  box-shadow: 0 0.25rem var(--bg-primary);
  transform: translateY(0.2rem);
  transition: all 0.1s linear;
}

#object-list {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: max-height 0.2s ease-out;
  /* overflow: hidden; */
}

.object-item {
  font-size: 2.5rem;
  width: 80%;
  margin: 0.5rem;
  padding: 0;
  justify-content: space-between;
}

.name {
  /* width: 80%; */
  padding: 0.5rem 0;
  justify-content: flex-start;
  font-weight: 700;
  color: var(--text-alt);
}

.qty {
  width: 3rem;
  border: 0.1rem solid #e2e7e7;
  background-color: var(--bg-primary);
  height: 100%;
  font-size: 2rem;
  padding: 0.5rem;
  font-style: italic;
  text-align: center;
}

.qty[type="number"] {
  font-size: 2.5rem;
}

.qty::placeholder {
  font-size: 2.5rem;
}

.qty::-webkit-outer-spin-button,
.qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty::-moz-number-spin-box {
  -moz-appearance: none;
  margin: 0;
}

#btn-container {
  background-color: var(--fourth-color);
  opacity: 1;
  padding: 10rem;
}

#open-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  background-color: var(--sidepanel);
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#open-btn:hover {
  background-color: #444;
}

.images-wrapper {
  padding: 2rem;
}

.images-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  /* padding: 0; */
  padding-left: 5%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.image {
  width: 25rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid var(--primary-color);
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem;
  object-fit: cover;
}

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {

  footer {
    padding: 1.5rem 0;
  }

  footer p{
    font-size: 2rem;
  }

  /**** Landing-Page ****/

  #landing-page figure .logo img {
    max-width: 40rem;
  }

  .welcome-text h1,
  .welcome-text p {
    text-align: center;
  }

  .welcome-text br {
    display: none;
  }

  /**** Flashcards-Page ****/
  main {  
    justify-content: space-between !important;
    align-items: flex-start !important;
    flex-flow: row nowrap !important;
  }
  
  #side-panel {
  }

  #side-panel.open {
    width: 30%;
    max-width: 30rem;
  }

  #object-selection-form {
    margin: 0;
    min-width: 25rem;
  }

  .images-wrapper {
    min-width: 65%;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

    /**** Flashcards-Page ****/
  aside {
    margin-left: 0;
    max-width: 25%;
  }

  .image {
    min-width: 25rem;
  }
}