/**** BASE & COMMON STYLES ****/
:root {
  --primary-color: #32a0da;
  --second-color: #7bba51;
  --third-color: #f5995c;
  --fourth-color: #dd4559;
  --background-color: #f4f4f4;
  --text-color: #000000;
}

.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 2rem;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}

#landing-page,
#flash-card-page,
.content-wrapper {
  min-height: 100vh;
  width: 100%;
}

figure {
  width: 100%;
  margin-top: 5rem;
  padding: 0;
  background-color: var(--background-color);
}

figure .logo {
  width: 100%;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: var(--third-color);
  padding: 1rem 0;
}

footer p {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/**** END OF BASE & COMMON STYLES ****/

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/**** LANDING-PAGE ****/
#landing-page .content-wrapper {
  flex-direction: column;
  justify-content: space-between;
}

#landing-page figure .logo img {
  width: 100%;
  max-width: 25rem;
  margin: 0 3rem;
}

.welcome-text {
  width: 100%;
}

.welcome-text h1 {
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
  margin: 5rem 0;
  padding: 0;
}

.welcome-text p {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.g-signin2 {
  margin: 8rem 0;
  /* padding: 0; */
  cursor: pointer;
}
/* 
#sign-in-button {  
  width: 30rem;
  height: 5rem;
  margin: 10rem 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 2rem;
  font-weight: 400;
  border: .15rem solid #000000;
  border-radius: .5rem;
  box-shadow: 0 .25rem #cccccc;
  cursor: pointer;
}

#sign-in-button i {
  font-size: 2.5rem;
  margin: 0;
  padding: 0 1rem .3rem 0;
}

#sign-in-button:hover {
  background-color: #000000;
  color: #ffffff;
  outline: 4rem auto #000000;
  transition: all 0.1s ease-in-out;
}

#sign-in-button:active {
  box-shadow: 0 0.1rem #888888;
  transform: translateY(0.15rem);
  transition: all 0.05s linear;
}  */

/**** FLASH-CARD-PAGE ****/
#flash-card-page .content-wrapper {
  justify-content: space-between;
  flex-direction: column;
}

#flash-card-page figure {
  margin: 3rem 0;
}

#flash-card-page figure .logo img {
  width: 100%;
  max-width: 20rem;
  margin: 0 3rem;
}

main {  
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column !important;
}

#object-selection-form {
  width: 100%;
  max-width: 30rem;
  flex-direction: column;
  margin: 0 2rem;
  padding: 2rem;
  background-color: #ffffff;
  border: 0.25rem solid var(--primary-color);
}

#submit-btn {
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  padding-left: 1rem;
  background-color: #ffffff;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8rem;
  border: .25rem solid var(--primary-color);
  border-radius: .5rem;
  box-shadow: 0 .25rem #cccccc;
  cursor: pointer;
}

#submit-btn i {
  margin: 0;
  padding: .1rem 0 0 .5rem;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: var(--primary-color);
  color: #ffffff;
  outline: 4rem auto var(--primary-color);
  transition: all 0.25s ease-in-out;
}

#submit-btn:active {
  box-shadow: 0 0.25rem #888888;
  transform: translateY(0.2rem);
  transition: all 0.1s linear;
}

.object-list {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.object-item {
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.name {
  width: 80%;
  padding: 0.5rem 0;
  justify-content: flex-start;
  font-weight: 700;
}

.qty {
  width: 3rem;
  border: 0.1rem solid #e2e7e7;
  background-color: var(--background-color);
  height: 100%;
  font-size: 2rem;
  padding: 0.25rem;
  font-style: italic;
  text-align: center;
}

.images-wrapper {
  padding: 2rem;
}

.images-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.image {
  width: 17rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid var(--second-color);
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem;
  object-fit: cover;
}

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {

  footer {
    padding: 1.5rem 0;
  }

  footer p{
    font-size: 2rem;
  }

  /**** Landing-Page ****/

  #landing-page figure .logo img {
    max-width: 40rem;
  }

  .welcome-text h1,
  .welcome-text p {
    text-align: center;
  }

  .welcome-text br {
    display: none;
  }

  /**** Flash-Card-Page ****/
  main {  
    justify-content: space-between !important;
    align-items: flex-start !important;
    flex-flow: row nowrap !important;
  }
  
  aside {
    max-width: 30rem;
    margin-left: 3rem;
  }

  #flash-card-page figure {
    width: 30rem;
    margin: 3rem;
  }  

  #flash-card-page figure .logo img {
    max-width: 25rem;
  }

  #object-selection-form {
    margin: 0;
    min-width: 25rem;
  }

  .images-wrapper {
    min-width: 65%;
  }

  .image {
    min-width: 20rem;
    border-width: 0.35rem;
    border-radius: .75rem;
    margin: 2rem;
    padding: 1rem;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

    /**** Flash-Card-Page ****/
  aside {
    margin-left: 0;
    max-width: 25%;
  }

  .image {
    min-width: 25rem;
  }
}