/**** Reset and Common Styles ****/
html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 2rem;
}

body,
main,
aside, 
section,
div {
  padding: 0;
  margin: 0;
  background-color: #f0f4f4;
}

.hide {
  display: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
/**** End of Reset and Common Styles ****/

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/**** Aside ****/
.menu-container {
  background-color: #f0f4f4;
  margin: 0;
  padding: 0;
}

.menu-container figure {
  width: 100%;
  padding: 0;
  margin: 3rem 0 2rem 0;
}

.menu-container figure img {
  width: 50%;
  max-width: 30rem;
}

.menu-container div {
  width: 100%;
  margin: 0;
  justify-content: space-around;
}

.btn {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .8rem;
  width: 16rem;
  height: 5rem;
  margin: 1rem;
  padding-left: 1rem;
  background-color: #454c5a;
  border-radius: 1rem;
  border: none;
}

.btn i {
  margin: 0;
  padding-left: .5rem;
}

#next-btn {
  background-color: #7bba51;
}

#filter-btn {
  background-color: #f5995c;
}

.filter-list {
  width: 100%;
  padding: 2rem 0;
  margin: 0;
  height: 60rem;
  background-color: red;
}

.filter-list label,
.filter-list input {
  margin: 0.5rem 0;
  padding: 0;
}

.filter-list input {
  border: 0.5rem solid #f5995c;
}

/**** End of Aside ****/

/**** Images Section ****/ 
.images-container {
  width: 100%;
  padding: 3rem 0;
  margin: 2rem 0;
  background-color: cyan;
}

.image {
  justify-content: space-between;
  width: 15rem;
  height: 15rem;
  border: 0.25rem solid #32a0da;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  object-fit: cover;
}
/**** End of Images Section ****/

/**** Footer ****/
footer {
  background-color: #dd4559;
  padding: 1rem 0;
}

footer p {
  font-size: 1.5rem;
  color: #ffffff;
}
/**** End of Footer ****/

/**** End of Mobile Styles ****/

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {

  .content-wrapper {
    flex-wrap: nowrap;
  }

  .menu-container {
    width: 20%;
    margin: 0 2rem;
  }  

  .menu-container figure,
  .menu-container figure img {
    width: 100%;
    margin: 2rem;
    padding: 0;
  } 

  /* .filter-list {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 60rem;
    background-color: red;
  }
  
  .filter-list label,
  .filter-list input {
    margin: 0.5rem 0;
    padding: 0;
  }
  
  .filter-list input {
    border: 0.5rem solid #f5995c;
  } */

  .image {
    width: 25rem;
    height: 25rem;
    border: 0.75rem solid #f5995c;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    object-fit: cover;
  }

  footer p{
    font-size: 2rem;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

  
}