/**** Base and Common Styles ****/
.hide {
  display: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ! have got to figure out what is going on with the height here...cannot seem to get it to stay "full screen" */
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
  /* min-height: 100vh; */
}

body {
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 2rem;
  background-color: #f0f4f4;
  padding: 0;
  margin: 0;
}

.content-wrapper {
  flex-direction: column;
  /* height: 100%; */
}

.main-wrapper {
  /* height: 100%; */
  justify-content: space-around;
}

/**** End of Base and Common Styles ****/

/* ==========================================================================
  Mobile Styles
  ========================================================================== */


/**** Aside ****/
.menu-wrapper {
  background-color: #f0f4f4;
  width: 100%;
  margin-top: 2rem;
  padding: 0;
  justify-content: space-around;
}

.menu-wrapper figure {
  width: 30%;
  margin: 0 4.5rem;
}

.menu-wrapper figure img {
  width: 100%;
  max-width: 15rem;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .4rem;
  width: 12rem;
  height: 4rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: none;
}

.btn i {
  margin: 0;
  padding-left: .5rem;
}

#filter-btn {
  background-color: #f5995c;
}

#next-btn {
  background-color: #32a0da;
}

.filter-list {
  width: 100%;
  padding: 2rem 0;
  margin: 0;
}

.filter-list label,
.filter-list input {
  margin: 0.5rem 0;
  padding: 0;
}

.filter-list input {
  border: 0.5rem solid #f5995c;
}
/**** End of Aside ****/

/**** Images Section ****/ 

.images-wrapper {
  padding: 2rem;
}

.images-container {
  width: 100%;
  padding: 0;
  margin: 0;
  /* align-self: center; */
}

.image {
  width: 30%;
  max-width: 20rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid #7bba51;
  border-radius: 1rem;
  margin: 1rem;
  padding: .5rem;
  object-fit: cover;
}
/**** End of Images Section ****/

/**** Footer ****/
footer {
  background-color: #dd4559;
  padding: 1rem 0;
  margin-top: auto;
  max-height: 2.5rem;
}

footer p {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
/**** End of Footer ****/

/**** End of Mobile Styles ****/

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {

  .main-wrapper {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .menu-wrapper {
    width: 20%;
    margin: 2rem;
    flex-direction: column;
    /* justify-content: flex-start; */ /* ? is this needed? */
    /* align-self: flex-start; */
  }  

  .menu-wrapper figure,
  .menu-wrapper figure img {
    width: 100%;
    margin: 2rem 0;
    padding: 0;
  } 

  .btn {
    font-size: 1.5rem;
    letter-spacing: .8rem;
    width: 16rem;
    height: 5rem;
    margin: 1rem;
  }
  
  .btn i {
    margin: 0;
    padding-left: .5rem;
  }
  
  .btn i {
    margin: 0;
    padding-left: .5rem;
  }

/* TODO once these have been added adjust the styles for tablet/desktop */
  /* .filter-list {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 60rem;
    background-color: red;
  }
  
  .filter-list label,
  .filter-list input {
    margin: 0.5rem 0;
    padding: 0;
  }
  
  .filter-list input {
    border: 0.5rem solid #f5995c;
  } */

  .images-wrapper {
    /* padding: 0; */
  }
  
  .images-container {
    width: 100%;
    padding: 2rem;
    justify-content: space-around;
  }

  .image {
    width: 40%;
    max-width: 20rem;
    border-width: 0.5rem;
    border-radius: 1.5rem;
    /* margin: 1rem 1.5rem; */
    padding: 1rem;
  }


  footer {
    padding: 1.5rem 0;
  }

  footer p{
    font-size: 2rem;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

/* no style changes */

}