
/* //TODO
  - 1. make it so that all pages take up the full screen height
  - 2. center the images in the section
  - 3. figure out how to separate the styles of these header
*/

/**** BASE & COMMON STYLES ****/
.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 2rem;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

.content-wrapper {
  justify-content: space-around;
}
/**** END OF BASE & COMMON STYLES ****/

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

header {
  background-color: #f4f4f4;
  width: 100%;
  margin-top: 5rem;
  padding: 0;
}

header .logo {
  width: 100%;
  justify-content: center;
}

header .logo img {
  width: 100%;
  max-width: 25rem; //*  .15rem  *//
  margin: 0 3rem;
}

footer {
  background-color: #dd4559;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer p {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/**** LANDING-PAGE ****/
#landing-page .content-wrapper {
  flex-direction: column;
}

.welcome-text {
  max-width: 45rem;
}

.welcome-text h1 {
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
  margin: 5rem;
  padding: 0;
}

.welcome-text p {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 5rem;
  padding: 0;
}

#apple-signin-btn {  
  background-color: #ffffff;
  color: #000000;
  border: .25rem solid #000000;
  border-radius: .5rem;
  box-shadow: 0 .25rem #cccccc;
  margin: 10rem 0;
  padding: 0;
  width: 30rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

#apple-signin-btn i {
  font-size: 2.5rem;
  margin: 0;
  padding: 0 1rem .3rem 0;
}

#apple-signin-btn:hover {
  background-color: #000000;
  color: #ffffff;
  outline: 4rem auto #000000;
  transition: all 0.3s ease-in-out;
}

#apple-signin-btn:active {
  box-shadow: 0 0.25rem #888888;
  transform: translateY(0.25rem);
  transition: all 0.05s linear;
}

/**** FLASH-CARD-PAGE ****/
.filter-container {
  background-color: #ffffff;
  border: 0.25rem solid #f5995c;
  width: 100%;
  max-width: 30rem;
  margin: 0 2rem;
  padding: 2rem 2rem;
  flex-direction: column;
}

/* #apple-signin-btn {  
  background-color: #ffffff;
  color: #000000;
  font-size: 2rem;
  font-weight: 400;
  width: 30rem;
  height: 5rem;
  margin: 10rem 0;
  padding: 0;
  border: .25rem solid #000000;
  border-radius: .5rem;
  box-shadow: 0 .25rem #cccccc;
  cursor: pointer;
} */

#submit-btn {
  background-color: #ffffff;
  color: #32a0da;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4rem;
  width: 12rem;
  height: 4rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border: .25rem solid #32a0da;
  border-radius: .5rem;
  border: none;
  box-shadow: 0 .25rem #cccccc;
  cursor: pointer;
}

#submit-btn i {
  margin: 0;
  padding-left: 1rem;
}
/* 
#filter-btn {
  background-color: #ffffff;
  border: .25rem solid #f5995c;
  color: #f5995c;
  margin: 2rem 3rem;
}

#filter-btn:hover,
#filter-btn:focus {  
  background-color: #f5995c;
  color: #ffffff;
  outline: 4rem auto #f5995c;
  transition: all 0.25s ease-in-out;
} */

#submit-btn:hover,
#submit-btn:focus {
  background-color: #32a0da;
  color: #ffffff;
  outline: 4rem auto #32a0da;
  transition: all 0.25s ease-in-out;
}

/* #filter-btn:active, */
#submit-btn:active {
  box-shadow: 0 0.25rem #888888;
  transform: translateY(0.2rem);
  transition: all 0.1s linear;
}

.filter-list {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.filter-item {
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.name {
  width: 80%;
  padding: 0.5rem 0;
  font-weight: 700;
  justify-content: flex-start;
}

.qty {
  width: 3rem;
  border: 0.1rem solid #e2e7e7;
  background-color: #f4f4f4;
  height: 100%;
  font-size: 2rem;
  padding: 0.25rem;
  font-style: italic;
  text-align: center;
}

.images-wrapper {
  padding: 2rem;
}

.images-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.image {
  width: 30%;
  max-width: 20rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid #7bba51;
  border-radius: 1rem;
  margin: 1rem;
  padding: .5rem;
  object-fit: cover;
}

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {
  
  header .logo img {
    max-width: 40rem;
  }
  
  .welcome-text {
  max-width: 100rem;
  }

  .welcome-text h1,
  .welcome-text p {
    text-align: center;
  }

  .welcome-text br {
    display: none;
  }

  #flash-card-page .content-wrapper {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  header {
    width: 30rem;
    margin: 2rem;
  }  

  #submit-btn {
    font-size: 1.5rem;
    letter-spacing: .8rem;
    width: 16rem;
    height: 5rem;
    margin: 1rem;
  }
  
  #submit-btn i {
    margin: 0;
    padding-left: .5rem;
  }
  
  #submit-btn i {
    margin: 0;
    padding-left: .5rem;
  }

  .filter-container {
    margin: 0;
  }

  .images-wrapper {
    align-self: center; 
  }
  
  .images-container {
    width: 100%;
    justify-content: space-around;
  }

  .image {
    max-width: 23rem;
    border-width: 0.5rem;
    border-radius: 1.5rem;
    margin: 2rem 1rem;
    padding: 1rem ;
  }

  footer {
    padding: 1.5rem 0;
  }

  footer p{
    font-size: 2rem;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

/* no style changes */

}