/* TODO change to CSS Grid in v2.0 */

/**** Base and Common Styles ****/
.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* .test {
  background-color: red;
  height: 40rem;
  width: 30rem;
} */

/* ! have got to figure out what is going on with the height here...cannot seem to get it to stay "full screen" */
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
  /* min-height: 100vh; */
}

body {
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 2rem;
  background-color: #f0f4f4;
  padding: 0;
  margin: 0;
}

.flash-card-page {
  flex-direction: column;
  /* height: 100%; */
}

.main-wrapper {
  /* height: 100%; */
  justify-content: space-around;
}
/**** End of Base and Common Styles ****/

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/**** Header ****/
header {
  background-color: #f0f4f4;
  width: 100%;
  margin-top: 2rem;
  padding: 0;
}

header .logo {
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

header .logo img {
  width: 100%;
  max-width: 15rem;
  margin: 0 3rem;
}

.filter-container {
  background-color: #ffffff;
  border: 0.25rem solid #f5995c;
  width: 100%;
  max-width: 30rem;
  margin: 0 2rem;
  padding: 2rem 2rem;
  flex-direction: column;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .4rem;
  width: 12rem;
  height: 4rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 .25rem #cccccc;
  cursor: pointer;
}

.btn i {
  margin: 0;
  padding-left: 1rem;
}
/* 
#filter-btn {
  background-color: #ffffff;
  border: .25rem solid #f5995c;
  color: #f5995c;
  margin: 2rem 3rem;
}

#filter-btn:hover,
#filter-btn:focus {  
  background-color: #f5995c;
  color: #ffffff;
  outline: 4rem auto #f5995c;
  transition: all 0.25s ease-in-out;
} */

#submit-btn {
  background-color: #ffffff;
  border: .25rem solid #32a0da;
  color: #32a0da;
  margin-bottom: 1rem;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: #32a0da;
  color: #ffffff;
  outline: 4rem auto #32a0da;
  transition: all 0.25s ease-in-out;
}

/* #filter-btn:active, */
#submit-btn:active {
  box-shadow: 0 0.25rem #888888;
  transform: translateY(0.25rem);
  transition: all 0.1s linear;
}

.filter-list {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.filter-item {
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.name {
  width: 80%;
  padding: 0.5rem 0;
  font-weight: 700;
  justify-content: flex-start;
}

.qty {
  width: 3rem;
  border: 0.1rem solid #e2e7e7;
  background-color: #f0f4f4;
  height: 100%;
  font-size: 2rem;
  padding: 0.25rem;
  font-style: italic;
  text-align: center;
}
/**** End of Header ****/

/**** Images Section ****/ 
.images-wrapper {
  padding: 2rem;
}

.images-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.image {
  width: 30%;
  max-width: 20rem;
  aspect-ratio: 1/1;
  border: 0.25rem solid #7bba51;
  border-radius: 1rem;
  margin: 1rem;
  padding: .5rem;
  object-fit: cover;
}
/**** End of Images Section ****/

/**** Footer ****/
footer {
  background-color: #dd4559;
  padding: 1rem 0;
  margin-top: auto;
}

footer p {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
/**** End of Footer ****/

/**** End of Mobile Styles ****/

/*=====================================================================================
  Media Queries for Responsive Design     
=====================================================================================*/

/**** TABLET STYLES ****/
@media screen and (min-width: 768px) {

  .main-wrapper {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  header {
    width: 30rem;
    margin: 2rem;
  }  

  .btn {
    font-size: 1.5rem;
    letter-spacing: .8rem;
    width: 16rem;
    height: 5rem;
    margin: 1rem;
  }
  
  .btn i {
    margin: 0;
    padding-left: .5rem;
  }
  
  .btn i {
    margin: 0;
    padding-left: .5rem;
  }

  .filter-container {
    margin: 0;
  }

  /* TODO need to center in the section! */
  .images-wrapper {
    align-self: center; 
  }
  
  .images-container {
    width: 100%;
    justify-content: space-around;
  }

  .image {
    max-width: 23rem;
    border-width: 0.5rem;
    border-radius: 1.5rem;
    margin: 2rem 1rem;
    padding: 1rem ;
  }

  footer {
    padding: 1.5rem 0;
  }

  footer p{
    font-size: 2rem;
  }
}

/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {

/* no style changes */

}